# PT backup directory
.pt/

# Added entries (1 items)
*sublime*

# Added entries (1 items)
debug.log

# Added entries (1 items)
sphinxcolor.egg-info*

# Added entries (1 items)
test/

# Added entries (1 items)
build/

# Added entries (1 items)
dist/
